<% photo = Photo.order('RANDOM()').first %>
<%= image_tag(FlickRaw.url_c(flickr.photos.getInfo(:photo_id => photo.flickr_id)), :class => 'main-image')
 %>

 <div id="my-posts">
  <%= render @portfolios %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate @portfolios %>
</div>