.rvmrc
.bundle
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
.DS_Store
rerun.txt
db/test.sqlite3
db/development.sqlite3
doc/api
doc/app
config/database.yml
coverage/*
db/schema.rb
.sass-cache/
public/assets/
public/stylesheets/public/*.css
public/system/*
public/images/*
public/images/slides/*
public/images/sku_images/*
public/images/sku_detail_images/*
public/images/sku_install_images/*
public/images/sku_legend_images/*
public/images/sku_repeat_images/*
public/images/product_images/*
public/images/product_repeat_images/*
public/images/story_images/*
public/images/press_images/*
public/images/slides/*
public/images/showroom_slides/*
public/pdfs/press_pdfs/*
public/pdfs/documents/*
public/downloads/*
app/assets/downloads
doc/TODO.txt
mkmf.log
solr/data/*
solr/*
capybara*
coverage
--drbgem
Guardfile
assets/pdfs
.ruby-version
vcr_cassettes/