@import "../public/base";

/* staff area variables */
$lt_blue: #007598;
$orange: #E57D15;
$lt_orange: #FF9831;

$primary_color: $orange;
$primary_hover: $lt_orange;
$border: #555555;
$highlight: #FFEEAA;
$link_color: $lt_blue;

$staff_sans_serif: Verdana, "Lucida Grande", Lucida, Arial, Helvetica, sans-serif;
