/* Tabbed Navigation Styles */

.tabbed-nav {
  float: left;

  ul {
    margin: 0;
    padding: 10px 10px 0;
    list-style: none;

    li {
      display: inline;
      font-weight: bold;

      a {
        float: left;
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
        background: asset-url('staff_ui/bg-uptab-left.gif') no-repeat left top;
        text-decoration: none;

        span {
          display: block;
          padding: 5px 15px 4px 6px;
          color: #F0F0F0;
          background: asset-url('staff_ui/bg-uptab-right.gif') no-repeat right top;
        }
      }

    }

    li:hover {
      a {
        background-position: left -39px;
        span {
          color: #000000;
          background-position: right -39px;
        }
      }
    }

    li.selected {
      a {
        background-position: left -78px;
        span {
          padding-bottom: 5px;
          color: #000000;
          background-position: right -78px;
        }
      }
    }

  }

}

.tabbed-box {
  clear: both;
  border: 1px solid #CCCCCC;
  border-top: 0;
  min-height: 400px;
  background: asset-url('staff_ui/bg-tab-box.gif') left top repeat-x;
  padding: 1.25em 10px 1em 10px;
  margin: 0;
  float:left;
  width: 918px;

  table { clear: both; }
}
